HELP.md
target/
*.cmd
mvnw
.mvn
**/target/**
!**/src/main/**
!**/src/test/**
!**/resources/**

rebel.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/src/main/resources/static/sapui5-1.71/resources/
