<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liy.generator.mapper.SfcTestMapper">
    <resultMap id="BaseResultMap" type="com.liy.generator.entity.Sfc">
        <result column="HANDLE" jdbcType="VARCHAR" property="handle"/>
        <result column="CHANGE_STAMP" jdbcType="DECIMAL" property="changeStamp"/>
        <result column="SITE" jdbcType="VARCHAR" property="site"/>
        <result column="SFC" jdbcType="VARCHAR" property="sfc"/>
        <result column="STATUS_BO" jdbcType="VARCHAR" property="statusBo"/>
        <result column="SHOP_ORDER_BO" jdbcType="VARCHAR" property="shopOrderBo"/>
        <result column="QTY" jdbcType="DECIMAL" property="qty"/>
        <result column="QTY_DONE" jdbcType="DECIMAL" property="qtyDone"/>
        <result column="QTY_SCRAPPED" jdbcType="DECIMAL" property="qtyScrapped"/>
        <result column="QTY_HISTORICAL_MIN" jdbcType="DECIMAL" property="qtyHistoricalMin"/>
        <result column="QTY_HISTORICAL_MAX" jdbcType="DECIMAL" property="qtyHistoricalMax"/>
        <result column="ITEM_BO" jdbcType="VARCHAR" property="itemBo"/>
        <result column="PRIORITY" jdbcType="DECIMAL" property="priority"/>
        <result column="LOCATION" jdbcType="VARCHAR" property="location"/>
        <result column="RMA_MAX_TIMES_PROCESSED" jdbcType="DECIMAL" property="rmaMaxTimesProcessed"/>
        <result column="LCC_BO" jdbcType="VARCHAR" property="lccBo"/>
        <result column="ORIGINAL_STATUS_BO" jdbcType="VARCHAR" property="originalStatusBo"/>
        <result column="QTY_MULT_PERFORMED" jdbcType="VARCHAR" property="qtyMultPerformed"/>
        <result column="ACTUAL_COMP_DATE" jdbcType="TIMESTAMP" property="actualCompDate"/>
        <result column="PREV_SITE" jdbcType="VARCHAR" property="prevSite"/>
        <result column="ORIGINAL_TRANSFER_KEY" jdbcType="VARCHAR" property="originalTransferKey"/>
        <result column="IMMEDIATE_ARCHIVE" jdbcType="VARCHAR" property="immediateArchive"/>
        <result column="TRANSFER_DATETIME" jdbcType="TIMESTAMP" property="transferDatetime"/>
        <result column="TRANSFER_USER" jdbcType="VARCHAR" property="transferUser"/>
        <result column="SN_DONE" jdbcType="VARCHAR" property="snDone"/>
        <result column="AIN_EQUIPMENT_ID" jdbcType="VARCHAR" property="ainEquipmentId"/>
        <result column="CREATED_DATE_TIME" jdbcType="TIMESTAMP" property="createdDateTime"/>
        <result column="MODIFIED_DATE_TIME" jdbcType="TIMESTAMP" property="modifiedDateTime"/>
        <result column="PARTITION_DATE" jdbcType="TIMESTAMP" property="partitionDate"/>
        <result column="row" jdbcType="DECIMAL" property="row"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Example_Where_Clause_Page">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        HANDLE, CHANGE_STAMP, SITE, SFC, STATUS_BO, SHOP_ORDER_BO, QTY, QTY_DONE, QTY_SCRAPPED,
        QTY_HISTORICAL_MIN, QTY_HISTORICAL_MAX, ITEM_BO, PRIORITY, LOCATION, RMA_MAX_TIMES_PROCESSED,
        LCC_BO, ORIGINAL_STATUS_BO, QTY_MULT_PERFORMED, ACTUAL_COMP_DATE, PREV_SITE, ORIGINAL_TRANSFER_KEY,
        IMMEDIATE_ARCHIVE, TRANSFER_DATETIME, TRANSFER_USER, SN_DONE, AIN_EQUIPMENT_ID, CREATED_DATE_TIME,
        MODIFIED_DATE_TIME, PARTITION_DATE
    </sql>
    <select id="selectByExample" parameterType="com.liy.generator.entity.SfcExample" resultType="java.lang.Integer">
        select
        count(1)
        from SFC
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExamplePage" parameterType="com.liy.generator.entity.SfcExample" resultMap="BaseResultMap">
        select * from (
         select * from (
          select
           ROW_NUMBER() over (order by sfc) row,
           <include refid="Base_Column_List"/>
           from SFC
           <if test="_parameter != null">
               <include refid="Example_Where_Clause_Page"/>
           </if>
           <if test="example.orderByClause != null">
               order by ${orderByClause}
           </if>
         ) a
         where a.row <![CDATA[<]]> ${lastRow}
        ) b
        where b.row <![CDATA[>=]]> ${firstRow}
    </select>
</mapper>